.table__container {
  max-width: 1000px;
  margin: 0 auto;
}

.table__field {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(20, 300px);
  flex-wrap: wrap;
  // align-items: flex-start;
  gap: 5px;

  height: 100vh;
}
