.table__container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
}

.table__field {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(20, 300px);
  flex-wrap: wrap;
  gap: 5px;

  height: 100vh;
}
